body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    min-height: calc(100vh - 70px - 64px);
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    border-radius: 5%;
    z-index: 5;
    padding: 1rem;
}

@media (min-width) {
    .cart {
        bottom: unset;
        top: 5rem;
    }
}

.material-icons {
    font-size: 35px;
}

.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50rem;
    max-width: 95%;
    box-shadow: 1px 3px 8px 5px #86b062;
    animation: show 500ms ease-in-out;
}

.basket-clear {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
}

.secondary-content {
    cursor: pointer;
}

@keyframes show {
    from {
        top:70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.basket-quantity {
    cursor: pointer;
    vertical-align: middle;
    color: #4ccb4c;
    font-size: 20px;
}